*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    width: 100%;
    max-width: 2400px;
    background-color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
}
header{
    background-color: rgb(7, 7, 7);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.logo{
    margin: 0px 24px 0 24px;
}
.logo h1{
    color: white;
    font-family: "PT Serif", serif;
}
.menu{
    color: white;
    margin: 0px 24px 0 24px;
}
.nav{
    display: none;
}
.background{
    position: relative;
}
.background img{
    width: 100%;
    margin-top: 60px;
}
.overlayText{
    position: absolute;
    left: 24px;
    top: 60%;
}
.overlayText h1{
    color: #000000;
    font-weight: 800;
}

.question{
    width: 100%;
    background-color: blue;
    height: 250px;
    margin-top: -5px;
    text-align: center;
}

.question h1{
    font-size: 28px;
    color: #fff;
    padding: 24px 0 0 0;
}

.question span{
    font-size: 28px; 
}

.buttonHolder{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 24px;
    margin-right: 24px;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.25rem;
    height: 40px;
}

.button-primary{
    background-color: black;
    color: white;
}

.button-primary:hover{
    background-color: rgb(37, 36, 36);
    transition: all 0.2s ease-in; 
  }

  .button-secondary{
    color: black;
    border: 1px solid darkgray;
}

.button-secondary:hover{
    color: white;
    background-color: black;
    border: none;
    transition: all 0.2s ease-in;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}

.container h2{
    font-size: 1.44rem;
    margin: 1.5rem 0;
}

.bloglist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog {
    padding: 1rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
}

.blog img{
    width: 100%;
}

.blog h3{
    margin-top: 0.5rem;
}

.blog p{
    font: size 0.9rem;
    margin-top: 0.5rem;
}
.plans{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pattern{
    padding: 1rem;
    border: 1px solid rgb(57, 56, 56);
    border-radius: 0.5rem;
}
.pattern h3{
    text-align: center;
    color: darkblue;
    font-size: 24px;
}
.pattern p{
    padding: 8px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.button a{
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    color: #fff;
    background-color: #000000;
    border-radius: 10px; 
    cursor: pointer;
}
.button a:hover{
    color: #000000;
    background-color: #06a5fb;
}

div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    padding: 12px;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }










































@media only screen and (min-width: 768px) {
    .logo{
        margin: 0px 80px 0 24px;
    }
    .menu{
        display: none;
    }
    .nav{
        display: block;
        top: 12px;
        right: 24px;
    }
    .nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0 12px;
    }
    .nav ul li a{
        cursor: pointer;
        padding: 16px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
    .nav ul li a:hover{
        color: rgb(2, 77, 252);
        background-color: #fff;
        border-radius: 30px 30px 0 0;
    }
    .overlayText{
        top: 70%;
    }
    .overlayText h1{
        font-weight: 800;
        font-size: 36px;
    }
    .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr;
       }
       .bloglist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       }
       .plans{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       }
 }


